.popup-container {
  position: fixed;
  top: 48px;
  right: 16px;
  left: 16px;
  bottom: 16px;
  pointer-events: none;
  z-index: 9999;
}

.popup-messages {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  flex-direction: column-reverse;
  align-items: end;
  gap: 8px;
}


.popup-message {
  --tw-space-x-reverse: 0;
  --tw-backdrop-blur: blur(8px);
  --tw-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color), 0 4px 6px -4px var(--tw-shadow-color);
  width: 100%;
  margin-bottom: 4px;
  display: flex;
  margin-right: calc(0.75rem var(--tw-space-x-reverse));
  margin-left: calc(0.75rem calc(1 - var(--tw-space-x-reverse)));
  background-color: rgb(229 231 235 / 0.75);
  -webkit-backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
  backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
  padding: 12px;
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  border-radius: 12px;
  z-index: 50;
  pointer-events: auto;
}

.popup-message-image {
  flex-shrink: 0;
  border-radius: 8px;
}

.popup-message-image img {
  width: 56px;
  height: 56px;
  object-fit: contain;
  border-radius: 4px;
}

.popup-message-content {
  width: 100%;
  margin-left: 12px;
}

.popup-message-content h2 {
  font-weight: 600;
  color: #030712;
}

.popup-message-content p {
  font-weight: 400;
  color: #374151;
  line-height: 1.25;
}

.popup-times p {
  font-size: 14px;
  line-height: 20px;
  color: #4b5563;
}

@keyframes slideIn {
  from {
    transform: translateX(100%);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes appearFromRight {
  from {
    opacity: 0.8;
    transform: translateY(-50%);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-slideIn {
  animation: slideIn 0.3s ease forwards;
}

.animate-appearFromRight {
  animation: appearFromRight 0.1s ease-in-out;
}

@media (min-width: 768px) {
  .popup-container {
    left: 48px;
    right: 48px;
  }

  .popup-messages {
    bottom: auto;
  }

  .popup-message {
    width: 350px;
  }
}